@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form asp-controller="Home" asp-action="buttun" method="post" runat="server">
    <input id="filePath" name="filePath" type="text" />
    <input type="submit" value="Call Model Method" />
</form>