<link rel="stylesheet" href="../css/login-main.css">
<main>
	<div class="box">
		<div class="inner-box">
			<!-- 表单 -->
			<div class="form-wrap">
				<!-- 登录 -->
				<form action="index.html" autocomplete="off" class="sign-in-form">
					<div class="logo">
						<img src="" alt="logo">
						<h4>万卷书</h4>
					</div>
					<div class="heading">
						<h2>欢迎回来</h2>
						<h6>未注册？</h6>
						<a href="#" class="toggle">登录</a>
					</div>
					<!-- 表单  -->
					<div class="actual-form">
						<div class="input-wrap">
							<input id="name" type="text" minlength="4" autocomplete="off" required class="input-field">
							<label for="name">账号</label>
						</div>
						<div class="input-wrap">
							<input type="password" autocomplete="off" id="pass" required class="input-field">
							<label for="padd">密码</label>
						</div>
						<input type="submit" value="Sign In" class="sign-btn">
						<p class="text">
							忘记密码？
							<a href="#">获取帮助</a>
						</p>
					</div>
				</form>
				<!-- 注册号 -->
				<form action="index.html" autocomplete="off" class="sign-up-form">
					<div class="logo">
						<img src="" alt="logo">
						<h4>万卷书</h4>
					</div>
					<div class="heading">
						<h2>注册</h2>
						<h6>已有账号？</h6>
						<a href="#" class="toggle">登录</a>
					</div>
					<!-- 表单  -->
					<div class="actual-form">
						<div class="input-wrap">
							<input type="text" minlength="4" autocomplete="off" required class="input-field">
							<label>账号</label>
						</div>
						<div class="input-wrap">
							<input type="email" autocomplete="off" required class="input-field">
							<label>邮箱</label>
						</div>
						<div class="input-wrap">
							<input type="password" autocomplete="off" required class="input-field">
							<label>密码</label>
						</div>
						<input type="submit" value="注册" class="sign-btn">
						<p class="text">
							注册前，我已阅读并同意
							<a href="#">服务条款</a>和
							<a href="#">隐私协议</a>
						</p>
					</div>
				</form>
			</div>
			<!-- 轮播 -->
			<div class="carousel">
				<div class="images-wrapper">
					<img src="" alt="" class="image img-1 show">
					<img src="" alt="" class="image img-2">
					<img src="" alt="" class="image img-3">
				</div>
				<div class="text-slider">
					<div class="text-wrap">
						<div class="text-group">
							<h2>开始你的旅途</h2>
							<h2>准备聆听曼妙之音</h2>
						</div>
					</div>
					<div class="bullets">
						<span class="active" data-value="1"></span>
						<span data-value="2"></span>
						<span data-value="3"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
<script src="../js/login-main.js"></script>
