<link rel="stylesheet" href="../css/start.css">
<header>
	<div class="header-top">
		Vits_Box
	</div>
	<div class="header-btm">
		<div class="logo">
			<div>Vits</div>
			<div>Box</div>
		</div>

		<div class="Vits_Box">
			<a href="#">体验Vits_Box</a>
		</div>
	</div>
</header>
<section>
	<div class="download">
		<div>
			<h1>
				Vits_Box
			</h1>
			<p class="sub">
				Vits_Box可以自定义你的说书人
			</p>
			<p class="kaishi">
				<a href="">
					开启你的旅程
				</a>
			</p>
		</div>
	</div>
</section>
